@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --mainFont: "Poppins", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--mainFont);
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.34);
    margin-bottom: 20px;
}

header h1{
    font-weight: 200;
    margin-left: 20px;
}

nav ul{
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    margin-right:10px;
    margin-left: 10px;
    font-size: 0.9em;
}

.todo-elements{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.todo-input{
    min-width: 40%;
    max-width: 600px;
    height: 35px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding-left: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.224);
}

.todo-input::placeholder{
    padding-left: 8px;
}

.todo-input:focus{
    outline: none;
}

.todo-input:not(:placeholder-shown){
    padding-left: 10px;
}

.todo-input:focus::placeholder{
    padding-left: 8px;
    color: transparent;
}

.add-btn{
    background-color: rgb(35, 35, 35);
    color: white;
    height: 35px;
    width: 40px;
    border: none;
    border-radius: 0px 5px 5px 0px;    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.354);
    cursor: pointer;
    transition: 0.7s;
}

.add-btn:hover{
    background-color: rgb(49, 49, 49);
}

.display-todos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container{
    max-width: 70%;
    min-width: 100px;
    overflow: hidden;
}

.todoDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todoDiv p{
    flex: 1;
    padding: 7px;
    font-size: 20px;
    overflow-wrap: anywhere;
}

.checked{
    width: 25px;
    height: 25px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.258);
    cursor: pointer;
}

.checked:focus{
    outline: none;
}

.edit-button{
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    border-radius: 7px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.148);
    cursor: pointer;
    margin-right: 5px;
}

.edit-button:focus{
    outline: none;
}

.delete-button{
    width: 25px;
    height: 25px;
    margin-right: 2px;
    border: none;
    border-radius: 7px;
    background-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.231);
    cursor: pointer;
}

.delete-button:focus{
    outline: none;
}

.error-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.279);
}

.error-image{
    background-color: black;
    width: 200px;
    height: 150px;
}

.popup-paragraph{
    font-size: 1.1em;
    margin-top: 10px;
}